<div class="top-buttons">
  <div class="load-buttons">
    <input type="file" (change)="onFileChange($event.target)">
    <button (click)="loadDefaultConfigFile()">Use v1 file</button>
    <button (click)="loadSecondConfigFile()">Use v2 file</button>
  </div>

  <button *ngIf="defaultFileData" (click)="onDownloadDefaultFile()">Download default file</button>
  <button *ngIf="defaultFileData" (click)="onDownloadCurrentState()">Download current state</button>
</div>



<div>
  <h3>Loaded {{defaultFileLoaded ? 'default': 'custom'}} file</h3>
</div>


<div class="flat-container" *ngIf="gameFlat">
  <div class="tools-panel">
    <div class="worker-config" *ngIf="!worker">
      <div>
        <label for="timeout">Timeout(ms):</label>
        <input id="timeout" type="number" placeholder="timeout" [(ngModel)]="workerTimeout">
      </div>

      <button (click)="createWorker()" *ngIf="!changingStartPoint">Start worker</button>

      <button (click)="changingStartPoint = true" *ngIf="!changingStartPoint && !changingEndPoint">Change start point</button>
      <button (click)="changingEndPoint = true" *ngIf="!changingStartPoint && !changingEndPoint">Change end point</button>
      <div *ngIf="changingStartPoint && !changingEndPoint">Click on any point to set start position</div>
      <div *ngIf="changingEndPoint && !changingStartPoint">Click on any point to set finish position</div>
    </div>

    <div class="game-config" *ngIf="worker">
      <button (click)="createGame()">Reset</button>

      <button *ngIf="worker" (click)="worker.stop()">Stop</button>

      <ng-container *ngIf="worker.log">
        <h2>Log:</h2>
        <div class="log">
          <div class="item" *ngFor="let log of worker.log">{{log}}</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="flat">
    <div class="row" *ngFor="let row of gameFlat.config">
      <div class="cell"
           [ngClass]="{'disabled': cell.state === cellStateEnum.Disabled,
           'start': cell.state === cellStateEnum.Start,
           'visited': cell.visited,
           'finish': cell.state === cellStateEnum.Finish,
           'completed': worker?.completed && cell.visited}"
           *ngFor="let cell of row" (click)="onCellStateChange($event, cell)">
        {{cell.value}}
      </div>
    </div>
  </div>
</div>
