<div class="top-buttons">
  <div class="load-buttons">
    <input type="file" (change)="onFileChange($event.target)">
    <button (click)="loadDefaultConfigFile()">Use default file</button>
    <button (click)="loadDefaultEmptyConfigFile()">Use default empty file</button>
  </div>

  <button *ngIf="defaultFileData" (click)="onDownloadDefaultFile()">Download default file</button>
</div>



<div>
  <h3>Loaded {{defaultFileLoaded ? 'default': 'custom'}} file</h3>
</div>


<div class="flat-container" *ngIf="gameFlat">
  <div class="tools-panel">
    <div class="worker-config" *ngIf="!worker">
      <div>
        <label for="timeout">Timeout(ms):</label>
        <input id="timeout" type="number" placeholder="timeout" [(ngModel)]="workerTimeout">
      </div>

      <label>Choose turn direction:</label>
      <div>
        <input type="radio" id="leftTurn"
               name="turnDirection" value="left" [(ngModel)]="workerTurnDirection">
        <label for="leftTurn">Left</label>

        <input type="radio" id="rightTurn"
               name="turnDirection" value="right" [(ngModel)]="workerTurnDirection">
        <label for="rightTurn">Right</label>
      </div>

      <button (click)="createWorker()">Start worker</button>
    </div>

    <div class="game-config" *ngIf="worker">
      <button (click)="createGame()">Reset</button>

      <ng-container *ngIf="worker.log">
        <h2>Log:</h2>
        <div class="log">
          <div class="item" *ngFor="let log of worker.log">{{log}}</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="flat">
    <div class="row" *ngFor="let row of gameFlat.config">
      <div class="cell"
           [ngClass]="{'disabled': cell === cellStateEnum.Disabled,
           'start': cell === cellStateEnum.Start,
           'visited': cell === cellStateEnum.Visited,
           'finish': cell === cellStateEnum.Finish,
           'completed': worker?.completed && cell === cellStateEnum.Visited}"
           *ngFor="let cell of row">

      </div>
    </div>
  </div>
</div>
